<div class="about-page" style="align-items: center;">
    <div class="about-page-image" style="width: 100%; text-align: center;" data-aos="fade-right" data-aos-duration="1500">
        <img src="/bailey.jpg" style="margin-bottom: 10px; margin-top: 10px;" />
    </div>
    <div class="container aboutme" style="background-color: #6FCBFF; margin-bottom: 10px;" data-aos="fade-right" data-aos-duration="1500">
        <div class="row">
            <div class="col">
                <h1 class="" style="font-family: 'Montserrat', sans-serif; ">About Me </h1> <br /><br/><p style="float: left; font-family: 'Oswald', sans-serif;font-weight: 200;">{{ aboutme }}</p>
            </div>
        </div>
    </div>
    <div class="container skills" style="background-color: #FF8A8E;" data-aos="fade-right" data-aos-duration="1500">
        <div class="row">
            <div class="col">
                <h1 class="" style="font-family: 'Montserrat', sans-serif; ">Skills</h1> <br />
                <ul>
                    {{#each skills}}
                        <li style="font-family: 'Oswald', sans-serif; font-weight: 200;">{{ this }}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>