<div class="nytimes-page" style="color: white; margin-top: 10%">
    <div class="head" style="text-align: center;">
        <h1>Welcome To the New York Times Page !</h1>
        <h4>This Will show the top 3 articles on the new York Times</h4>
    </div>
    <div class="main" style="text-align: center; color: white;">
        <h5>{{ title1 }}</h5>
        <h5>{{ title2 }}</h5>
        <h5>{{ title3 }}</h5>
    </div>
</div>